@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#openModal {
    position: fixed;
    top: 10px;
    left: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    min-width: 300px;
    border: #6f84ff solid 2px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
}

.modal.open {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.modal span {
    font-weight: bold;
    font-size: 20px;
}

.modal p {
    flex: 100%;

}

.modal input {
    padding: 5px 16px;
    flex: calc(50% - 10px);
    min-width: 100px;
}

.app {
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}

p {
    text-align: center;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.reponse {
    font-weight: 600;
    position: relative;
    cursor: pointer;
    flex: calc(50% - 15px);
    min-width: 150px;
    padding: 10px 30px;
    text-align: left;
    border: #6f84ff 2px solid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.21);
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s ease-out;
}

.reponse:hover {
    color: white;
    background-color: #6f84ff;
}

.nbQuestions {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}